<template>
  <div class="outlineGeodataInformation" :class="$mq">
    Geoinformation:
    <div class="geoinformationCurrentLatAndLon">
      Lat:
      <span class="currentLat" data-mapping="currentLat"></span>
      Lon:
      <span class="currentLon" data-mapping="currentLon"></span>
    </div>
    <div class="geoinformationCurrentTimezone">
      Timezone:
      <span class="currentTimezone" data-mapping="currentTimezone"></span>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
.outlineGeodataInformation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);

  &.smartphone {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &.desktop {
    font-size: 15px;
  }
}
</style>
