<template>
  <div class="headerStyling" :class="$mq">
    <div class="menuAndButtonOrder">
      <WeatherAtCurrentLocBut />
      <WeatherAtCurrentLocMenu />
    </div>
  </div>
</template>

<script>
import WeatherAtCurrentLocMenu from "./WeatherCurrentLocMenu";
import WeatherAtCurrentLocBut from "./WeatherAtCurrentLocBut";
const myCoolComponent = {
  components: {
    WeatherAtCurrentLocMenu,
    WeatherAtCurrentLocBut
  }
};

export default myCoolComponent;
</script>

<style lang="scss" scoped>
.menuAndButtonOrder {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.headerStyling {
  &.smartphone {
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  &.desktop {
    padding: 20px 40px;
    box-sizing: border-box;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
    background-color: #282c34;
  }
}
</style>
