<template>
  <div class="outlineGeodataAndMapBox">
    <div class="outlineGeodataInformation">
      Geoinformation:
      <div class="geoinformationCurrentLat">
        Lat:
        <span class="currentLat" data-mapping="currentLat"></span>
      </div>
      <div class="geoinformationCurrentLon">
        Lon:
        <span class="currentLon" data-mapping="currentLon"></span>
      </div>
      <div class="geoinformationCurrentTimezone">
        Timezone:
        <span class="currentTimezone" data-mapping="currentTimezone"></span>
      </div>
    </div>
    <div class="outlineMapBox">
      <div class="googleApiMap" id="googleMap"></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.outlineGeodataInformation {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none solid rgb(68, 68, 68);
  color: black;
}
</style>