<template>
  <div class="outlineMapBox">
    <div class="googleApiMap" id="googleMap"></div>
  </div>
</template>

<script>
export default {};
</script>
<style scoped>
.outlineMapBox {
  flex-basis: 100%;
  flex-grow: 1;
  height: 100%;
}
.googleApiMap {
  position: relative;
  overflow: hidden;
  zoom: 1;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
}
</style>
