<template>
  <div class="modalWindowAreaClass">
    <div
      class="positionAccessRefusalGreyBackgroundClass"
      id="positionAccessRefualGreyBackground"
    ></div>
    <div
      id="positionAccessRefusalWindow"
      class="positionAcessRefusalWindowClass"
    ></div>
  </div>
</template>

<script>
export default {
    
};
</script>

<style lang="scss" scoped></style>
