<template>
  <div class="recommendationsSectionBox">
    <div class="recommendationsHeadline">
      <div class="recommendationsHeadlineDesign">Recommendations</div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style scoped>
.recommendationsHeadline {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.recommendationsHeadlineDesign::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 10.5px solid white;
  border-right: 11.3px solid transparent;
  border-bottom: 11px solid transparent;
}

.recommendationsHeadlineDesign {
  position: relative;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  background-color: white;
}
</style>
