<template>
  <div class="recommendationsItem" :class="$mq">
    <div
      style=" background-image: url(https://i.ibb.co/Sv6ptXh/illuminated-tower-2614818.jpg)"
      class="recommendationItemPicture"
      :class="$mq"
    ></div>
    <div class="recommendationItemInfoBlock" :class="$mq">
      <div class="informationRow">
        <div class="nameAndDistanceBlock">
          <div class="nameOfItem">Tokyo Tower</div>
          <div class="distanceToItem">Distance: 0.2km</div>
        </div>
        <div class="ratingOfItem">4,2 ✩</div>
      </div>
      <div class="guideMeToItem">
        <button class="guideMeToItemButtonDesign">Guide Me!</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
.recommendationsItem {
  &.smartphone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid white;
    background-color: #fff;
  }
  &.desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
    height: 250px;
    border: 1px solid white;
    background-color: #fff;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.recommendationItemPicture {
  &.smartphone {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    position: relative;
    height: 100%;
    width: 100%;
  }
  &.desktop {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    position: relative;
    height: 60%;
    width: 100%;
  }
}

.recommendationItemInfoBlock {
  &.smartphone {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;
  }
  &.desktop {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 40%;
  }
}
.nameAndDistanceBlock {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  flex-grow: 1;
  flex-wrap: wrap;
}

.distanceToItem {
  font-family: sans-serif;
  font-size: 13px;
}
.nameOfItem {
  font-family: sans-serif;
  width: 100%;
  flex-wrap: wrap;
  font-weight: bold;
}
.ratingOfItem {
  font-size: 15px;
  width: 40px;
  padding-top: 10px;
}

.informationRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}
.guideMeToItem {
  text-align: center;
}

.guideMeToItemButtonDesign {
  background-color: steelblue;
  color: white;
  border-radius: 15px;
  outline: 0;
}
</style>
