<template>
  <ul class="weatherDataUl" :class="$mq">
    <li class="listItemStyling">
      Weather:
      <span data-mapping="currentWeather"></span>
    </li>
    <li class="listItemStyling">
      Temperature now:
      <span data-mapping="currentTemp"></span>
      °C
    </li>
    <li class="listItemStyling">
      Temperature feels like:
      <span data-mapping="currentFeltTemp"></span>
      °C
    </li>
    <li class="listItemStyling">
      Windspeed:
      <span data-mapping="currentWindspeed"></span>
      m/s
    </li>
    <li class="listItemStyling">
      Humidity:
      <span data-mapping="currentHumidity"></span>
      %
    </li>
    <li class="listItemStyling">
      Forecast:
      <span data-mapping="weahterForecast"></span>
    </li>
  </ul>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.weatherDataUl {
  &.smartphone {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &.desktop {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.listItemStyling {
  flex-grow: 1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.2px solid transparent;
  border-image: linear-gradient(to right, white 0%, black 50%, white 100%);
  border-image-slice: 0;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
</style>
