<template>
  <button class="weatherAtCurrentLocation">Weather at current location</button>
</template>

<script>
export default {};
</script>
<style scoped>
.weatherAtCurrentLocation {
  outline: 0;
  width: 180px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
}
</style>
