<template>
  <form>
    <select class="locationOptionSelect" id="locationOptionSelect">
      <option value="0">Choose a location...</option>
      <option value="Berlin">Berlin</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Tokyo">Tokyo</option>
      <option value="Shenzhen">ShenZhen</option>
      <option value="SanFransisco">San Fransisco</option>
    </select>
  </form>
</template>

<script>
export default {};
</script>
<style scoped>
.locationOptionSelect {
  outline: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none solid rgb(68, 68, 68);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  color: black;
  border: 1px solid black;
}
</style>