<template>
  <div id="app">
    <Header />
    <div class="contentArea" :class="$mq">
      <div class="geodataAndMapArea">
        <GeoInformation />
        <Map />
      </div>
      <div class="weatherInfoArea">
        <WeatherInfo />
      </div>
    </div>
    <div class="recommendationArea">
      <RecommendationHeadline />
      <div class="recommendationItemArea" :class="$mq">
        <RecommendationItem />
        <RecommendationItem />
        <RecommendationItem />
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueMq from "vue-mq";

Vue.use(VueMq, {
  breakpoints: {
    smartphone: 640,
    desktop: Infinity
  }
});
import Header from "./components/Header.vue";
import GeoInformation from "./components/GeoInformation.vue";
import WeatherInfo from "./components/WeatherInfo.vue";
import RecommendationHeadline from "./components/RecommendationHeadline.vue";
import RecommendationItem from "./components/RecommendationItem.vue";

export default {
  name: "App",
  components: {
    Header,
    GeoInformation,
    WeatherInfo,
    RecommendationHeadline,
    RecommendationItem
  }
};
</script>

<style lang="scss">
#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
}
html {
  height: 100vh;
  margin: 0;
}
.recommendationArea {
  background-color: #282c34;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.bodyBox {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.contentArea {
  &.smartphone {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &.desktop {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
  }
}
.geodataAndMapArea {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.weatherInfoArea {
  width: 100%;
  flex-grow: 1;
}

.recommendationItemArea {
  &.smartphone {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
  &.desktop {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
  }
}
</style>
